body{
    background-color: #f3f4f6
}
a, a:hover{
    color:#000 !important
}

.font-12{
    font-size:12px
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.white{
    background-color: #fff !important
}
.nav-link{
color:#000
}
.error-message{
    font-size:12px;
    color:red
}
